.statistics {
  text-align: center;
  border-radius: 5px;
  width: 300px;
  margin: 50px auto;
  padding-top: 0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 -20px 14px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 0 80px rgba(0, 0, 0, 0.12);
}
.title {
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 15px;
}
.stat_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.percentage {
  font-size: 25px;
}
